body{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:Verdana, Tahoma, sans-serif;
    background-color: #4fe99c;
    margin:0px;
    padding:3px;
    color:
    #6a1899;
    font-size: 3vmin;
}

h1{
    font-size: 6vmin;
    margin-top:30px;
    margin-bottom:20px
}

#heading{
   
    
}


#intro{
    line-height:150%;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
  
}

#choose{
    margin:0px;
  

}


#buttons{
    margin:0px;
padding:5px;
display:flex;
}

.button{
    background-color: pink;
    padding:10px;
    margin:10px;
    font-size:3vmin;

}

.button:hover{
    background-color:pink;
}

.button:active{
background-color:yellow;
transform: scale(1.1);
}



.pscore{
    color:blue;
    font-size:4vmin;
}



.presults{
    color:red;
    white-space: pre;
    line-height: 150%;
    text-align:center;
}

#divresults{
}


.pfresults{
    color:green;
    font-size:4vmin;
}

#divfresults{

}